body {	margin-top:50px;margin-left:50px;font-size:18px; }
#grid { margin-top:40px;width:80%; }
.griditem { padding:7px;border-width:1px;border-style:solid;float:left; }
#copied-color { float:left;margin-top:20px; }
#copied-color #color { padding:7px;width:30px;height:30px;border-width:1px;border-style:solid;float:left;margin-right:12px;  }
#action-buttons { margin-top:40px; }
#game-stats { float:left;margin-top:20px;margin-left:600px; }